@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 10rem;
  position: relative;
}

.products-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}

.section-title {
  font-size: 3rem;
  font-weight: 500;
  padding: 3rem;
}

.categories-and-products-container {
  position: relative;
  display: grid;
  grid-template-columns: 30rem 1fr;
  gap: 1rem;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category-list {
  position: relative;
  list-style: none;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-list.active {
  background-color: rgba(192, 222, 247, 0.5);
}

.category-list:hover {
  background-color: rgba(192, 222, 247, 0.5);
}

.category-list:hover .category-list-item {
  color: rgb(35, 24, 189);
}

.category-list-item {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(170, 161, 161);
  pointer-events: none;
}

.category-list.active .category-list-item {
  color: rgb(35, 24, 189);
}

.category-list.active .category-list-item::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 5.6rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: -2rem;
  top: 0;
  background: rgb(35, 24, 189);
}

.splide {
  position: absolute;
  width: 100%;
}

.splide__track {
  padding: 1rem;
}

.products {
  overflow: hidden;
}

.product-list-container {
  display: flex;
}

.product-container {
  display: flex;
  max-width: 25rem !important;
  flex-direction: column;
  gap: 2rem;
  border: none;
  outline: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-left: 1rem !important;
  padding: 1rem;
  align-items: flex-start;
}

.product-container img {
  width: 100%;
  height: 25rem;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1rem;
}

.product-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 2rem;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 3.6em;
  line-height: 1.8em;
}

.price-container {
  background-color: rgb(233, 230, 230);
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 1rem;
}

.cargo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(170, 161, 161);
}

.fa-truck {
  color: green;
}

.addToCart {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 1.5rem 0rem;
  color: #fff;
  background: rgb(62, 48, 255);
  font-size: 2rem;
  font-weight: 200;
  cursor: pointer;
  border: 1px solid rgb(62, 48, 255);
  transition: all 0.5s ease;
}

.addToCart:hover {
  color: rgb(62, 48, 255);
  background: #fff;
}

/* ADD TO CART POPUP STYLING */

.add-to-cart-popup {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 40rem;
  background-color: rgb(33, 31, 48);
  padding: 2rem 1rem;
  padding-right: 2rem;
  border-radius: 1rem;
  color: #fff;
  opacity: 0;
  transition: all 1s ease;
}

.check-icon {
  font-size: 3rem;
  color: lightgreen;
}

.popup-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content p {
  font-size: 2rem;
}

.content a {
  text-decoration: none;
  color: rgb(168, 164, 226);
  font-size: 1.4rem;
}

.close-icon {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.close-icon:hover {
  color: lightcoral;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 1051px) and (max-width: 1350px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 851px) and (max-width: 1050px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 40%;
  }

  .categories-and-products-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
  }

  .categories {
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
  }

  .category-list {
    border-radius: 0px;
    padding: 1rem;
    white-space: nowrap;
  }

  .category-list.active {
    background-color: transparent;
  }

  .category-list:hover {
    background-color: transparent;
  }

  .category-list-item {
    font-size: 1.4rem;
    word-wrap: normal;
  }

  .category-list.active .category-list-item {
    color: #000;
  }

  .category-list.active .category-list-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.3rem;
    border-radius: 0;
    left: 0;
    top: 4rem;
    background: rgb(35, 24, 189);
  }
}
